<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sequence</key>
	<array>
		<string>pass_scene_rev</string>
		<string>pass_scene</string>
		<string>pass_plane</string>
		<string>pass_mix</string>
	</array>
	<key>passes</key>
	<dict>
		<key>pass_scene</key>
		<dict>
			<key>stencilStates</key>
			<dict>
				<key>enable</key>
				<false/>
				<key>clear</key>
				<false/>
				<key>behavior</key>
				<dict>
					<key>depthFail</key>
					<string>keep</string>
					<key>fail</key>
					<string>keep</string>
					<key>pass</key>
					<string>replace</string>
					<key>test</key>
					<string>always</string>
					<key>writeMask</key>
					<integer>255</integer>
				</dict>
			</dict>
			<key>pointOfView</key>
			<string>cam1</string>
			<key>draw</key>
			<string>DRAW_SCENE</string>
			<key>excludeCategoryMask</key>
			<string>2</string>
			<key>inputs</key>
			<dict/>
			<key>outputs</key>
			<dict>
				<key>depth</key>
				<string>depth_scene</string>
				<key>color</key>
				<string>color_scene</string>
			</dict>
		</dict>
		<key>pass_scene_rev</key>
		<dict>
			<key>pointOfView</key>
			<string>cam2</string>
			<key>stencilStates</key>
			<dict>
				<key>enable</key>
				<false/>
				<key>clear</key>
				<false/>
				<key>behavior</key>
				<dict>
					<key>depthFail</key>
					<string>keep</string>
					<key>fail</key>
					<string>keep</string>
					<key>pass</key>
					<string>replace</string>
					<key>test</key>
					<string>always</string>
					<key>writeMask</key>
					<integer>255</integer>
					<key>readMask</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>colorStates</key>
			<dict>
				<key>clear</key>
				<true/>
			</dict>
			<key>excludeCategoryMask</key>
			<string>2</string>
			<key>draw</key>
			<string>DRAW_SCENE</string>
			<key>inputs</key>
			<dict/>
			<key>outputs</key>
			<dict>
				<key>color</key>
				<string>color_rev</string>
			</dict>
		</dict>
		<key>pass_plane</key>
		<dict>
			<key>colorStates</key>
			<dict>
				<key>clear</key>
				<true/>
			</dict>
			<key>program</key>
			<string>mirror_plane</string>
			<key>outputs</key>
			<dict>
				<key>color</key>
				<string>color_plane</string>
				<key>depth</key>
				<string>depth_plane</string>
			</dict>
			<key>inputs</key>
			<dict>
				<key>a_position</key>
				<string>a_position-symbol</string>
				<key>size</key>
				<string>size_screen</string>
				<key>mvp</key>
				<string>mvp-symbol</string>
				<key>colorSampler</key>
				<string>color_rev</string>
				<key>normalSampler</key>
				<string>normal_water</string>
				<key>a_texcoord</key>
				<string>a_texcoord-symbol</string>
				<key>u_time</key>
				<string>u_time-symbol</string>
			</dict>
			<key>pointOfView</key>
			<string>cam1</string>
			<key>cullMode</key>
			<string>none</string>
			<key>stencilStates</key>
			<dict>
				<key>clear</key>
				<false/>
				<key>enable</key>
				<false/>
				<key>behavior</key>
				<dict>
					<key>depthFail</key>
					<string>keep</string>
					<key>fail</key>
					<string>keep</string>
					<key>pass</key>
					<string>replace</string>
					<key>test</key>
					<string>notEqual</string>
					<key>writeMask</key>
					<integer>0</integer>
					<key>readMask</key>
					<integer>255</integer>
				</dict>
			</dict>
			<key>draw</key>
			<string>DRAW_NODE</string>
			<key>includeCategoryMask</key>
			<string>2</string>
		</dict>
		<key>pass_mix</key>
		<dict>
			<key>colorStates</key>
			<dict>
				<key>clear</key>
				<true/>
			</dict>
			<key>draw</key>
			<string>DRAW_QUAD</string>
			<key>program</key>
			<string>mirror_mix</string>
			<key>inputs</key>
			<dict>
				<key>a_position</key>
				<string>a_position-symbol</string>
				<key>sampler_color_scene</key>
				<string>color_scene</string>
				<key>sampler_color_plane</key>
				<string>color_plane</string>
				<key>sampler_depth_scene</key>
				<string>depth_scene</string>
				<key>sampler_depth_plane</key>
				<string>depth_plane</string>
				<key>u_time</key>
				<string>u_time-symbol</string>
			</dict>
			<key>outputs</key>
			<dict>
				<key>color</key>
				<string>COLOR</string>
			</dict>
		</dict>
	</dict>
	<key>targets</key>
	<dict>
		<key>color_rev</key>
		<dict>
			<key>type</key>
			<string>color</string>
		</dict>
		<key>depth_scene</key>
		<dict>
			<key>type</key>
			<string>depth</string>
		</dict>
		<key>depth_plane</key>
		<dict>
			<key>type</key>
			<string>depth</string>
		</dict>
		<key>color_scene</key>
		<dict>
			<key>type</key>
			<string>color</string>
		</dict>
		<key>color_plane</key>
		<dict>
			<key>type</key>
			<string>color</string>
		</dict>
	</dict>
	<key>symbols</key>
	<dict>
		<key>mvp-symbol</key>
		<dict>
			<key>semantic</key>
			<string>modelViewProjectionTransform</string>
		</dict>
		<key>a_normal-symbol</key>
		<dict>
			<key>semantic</key>
			<string>normal</string>
		</dict>
		<key>u_time-symbol</key>
		<dict>
			<key>semantic</key>
			<string>time</string>
		</dict>
		<key>a_position-symbol</key>
		<dict>
			<key>semantic</key>
			<string>vertex</string>
		</dict>
		<key>a_texcoord-symbol</key>
		<dict>
			<key>semantic</key>
			<string>texcoord</string>
		</dict>
		<key>normal_water</key>
		<dict>
			<key>type</key>
			<string>sampler2D</string>
			<key>image</key>
			<string>normal_water.jpg</string>
		</dict>
		<key>size_screen</key>
		<dict>
			<key>type</key>
			<string>vec2</string>
		</dict>
	</dict>
</dict>
</plist>
