<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sequence</key>
	<array>
		<string>mix1</string>
		<string>mix2</string>
		<string>mix3</string>
	</array>
	<key>passes</key>
	<dict>
		<key>mix1</key>
		<dict>
			<key>depthStates</key>
			<dict>
				<key>clear</key>
				<true/>
			</dict>
			<key>draw</key>
			<string>DRAW_QUAD</string>
			<key>colorStates</key>
			<dict>
				<key>clear</key>
				<true/>
			</dict>
			<key>program</key>
			<string>mixing_1</string>
			<key>inputs</key>
			<dict>
				<key>a_position</key>
				<string>a_position-symbol</string>
				<key>colorSampler</key>
				<string>COLOR</string>
			</dict>
			<key>outputs</key>
			<dict>
				<key>color</key>
				<string>intermed1</string>
			</dict>
		</dict>
		<key>mix2</key>
		<dict>
			<key>depthStates</key>
			<dict>
				<key>clear</key>
				<true/>
			</dict>
			<key>draw</key>
			<string>DRAW_QUAD</string>
			<key>colorStates</key>
			<dict>
				<key>clear</key>
				<true/>
			</dict>
			<key>program</key>
			<string>mixing_2</string>
			<key>inputs</key>
			<dict>
				<key>a_position</key>
				<string>a_position-symbol</string>
				<key>depthSampler</key>
				<string>DEPTH</string>
			</dict>
			<key>outputs</key>
			<dict>
				<key>color</key>
				<string>intermed2</string>
			</dict>
		</dict>
		<key>mix3</key>
		<dict>
			<key>depthStates</key>
			<dict>
				<key>clear</key>
				<true/>
			</dict>
			<key>draw</key>
			<string>DRAW_QUAD</string>
			<key>colorStates</key>
			<dict>
				<key>clear</key>
				<true/>
			</dict>
			<key>program</key>
			<string>mixing_3</string>
			<key>inputs</key>
			<dict>
				<key>a_position</key>
				<string>a_position-symbol</string>
				<key>colorSampler1</key>
				<string>intermed1</string>
				<key>colorSampler2</key>
				<string>intermed2</string>
				<key>colorSampler3</key>
				<string>COLOR</string>
			</dict>
			<key>outputs</key>
			<dict>
				<key>color</key>
				<string>COLOR</string>
			</dict>
		</dict>
	</dict>
	<key>targets</key>
	<dict>
		<key>intermed2</key>
		<dict>
			<key>type</key>
			<string>color</string>
		</dict>
		<key>intermed1</key>
		<dict>
			<key>type</key>
			<string>color</string>
		</dict>
	</dict>
	<key>symbols</key>
	<dict>
		<key>a_position-symbol</key>
		<dict>
			<key>semantic</key>
			<string>vertex</string>
		</dict>
	</dict>
</dict>
</plist>
