<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sequence</key>
	<array>
		<string>pass_normals</string>
		<string>pass_ao</string>
		<string>pass_mix</string>
	</array>
	<key>passes</key>
	<dict>
		<key>pass_positions</key>
		<dict>
			<key>draw</key>
			<string>DRAW_SCENE</string>
			<key>program</key>
			<string>ssao_positions</string>
			<key>inputs</key>
			<dict>
				<key>a_position</key>
				<string>a_position-symbol</string>
				<key>mvp</key>
				<string>mvp-symbol</string>
				<key>mv</key>
				<string>mv-symbol</string>
				<key>size</key>
				<string>size_screen</string>
			</dict>
			<key>outputs</key>
			<dict>
				<key>color</key>
				<string>pos_map</string>
			</dict>
		</dict>
		<key>pass_normals</key>
		<dict>
			<key>draw</key>
			<string>DRAW_SCENE</string>
			<key>program</key>
			<string>ssao_normals</string>
			<key>inputs</key>
			<dict>
				<key>a_position</key>
				<string>a_position-symbol</string>
				<key>a_normal</key>
				<string>a_normal-symbol</string>
				<key>mvp</key>
				<string>mvp-symbol</string>
				<key>nor_mat</key>
				<string>nor_mat-symbol</string>
				<key>size</key>
				<string>size_screen</string>
			</dict>
			<key>outputs</key>
			<dict>
				<key>color</key>
				<string>normal_map</string>
			</dict>
		</dict>
		<key>pass_ao</key>
		<dict>
			<key>draw</key>
			<string>DRAW_QUAD</string>
			<key>program</key>
			<string>ssao_ao</string>
			<key>inputs</key>
			<dict>
				<key>a_position</key>
				<string>a_position-symbol</string>
				<key>normalSampler</key>
				<string>normal_map</string>
				<key>depthSampler</key>
				<string>DEPTH</string>
				<key>noiseSampler</key>
				<dict>
					<key>target</key>
					<string>noise_map</string>
					<key>wrapS</key>
					<string>repeat</string>
					<key>wrapT</key>
					<string>repeat</string>
					<key>magnificationFilter</key>
					<string>linear</string>
				</dict>
				<key>size</key>
				<string>size_screen</string>
			</dict>
			<key>outputs</key>
			<dict>
				<key>color</key>
				<string>ao_result</string>
			</dict>
		</dict>
		<key>pass_mix</key>
		<dict>
			<key>draw</key>
			<string>DRAW_QUAD</string>
			<key>program</key>
			<string>ssao_mix</string>
			<key>inputs</key>
			<dict>
				<key>a_position</key>
				<string>a_position-symbol</string>
				<key>colorSampler</key>
				<string>COLOR</string>
				<key>aoSampler</key>
				<string>ao_result</string>
				<key>size</key>
				<string>size_screen</string>
			</dict>
			<key>outputs</key>
			<dict>
				<key>color</key>
				<string>COLOR</string>
			</dict>
		</dict>
	</dict>
	<key>targets</key>
	<dict>
		<key>normal_map</key>
		<dict>
			<key>type</key>
			<string>color</string>
		</dict>
		<key>ao_result</key>
		<dict>
			<key>type</key>
			<string>color</string>
		</dict>
		<key>pos_map</key>
		<dict>
			<key>type</key>
			<string>color</string>
		</dict>
	</dict>
	<key>symbols</key>
	<dict>
		<key>size_screen</key>
		<dict>
			<key>type</key>
			<string>vec2</string>
		</dict>
		<key>noise_map</key>
		<dict>
			<key>type</key>
			<string>sampler2D</string>
			<key>image</key>
			<string>noise_map.png</string>
		</dict>
		<key>a_position-symbol</key>
		<dict>
			<key>semantic</key>
			<string>vertex</string>
		</dict>
		<key>a_normal-symbol</key>
		<dict>
			<key>semantic</key>
			<string>normal</string>
		</dict>
		<key>mvp-symbol</key>
		<dict>
			<key>semantic</key>
			<string>modelViewProjectionTransform</string>
		</dict>
		<key>mv-symbol</key>
		<dict>
			<key>semantic</key>
			<string>modelViewTransform</string>
		</dict>
		<key>nor_mat-symbol</key>
		<dict>
			<key>semantic</key>
			<string>normalTransform</string>
		</dict>
	</dict>
</dict>
</plist>
