<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sequence</key>
	<array>
		<string>pass_normal</string>
		<string>pass_scene</string>
		<string>pass_mix</string>
	</array>
	<key>passes</key>
	<dict>
		<key>pass_scene</key>
		<dict>
			<key>pointOfView</key>
			<string>cam1</string>
			<key>colorStates</key>
			<dict>
				<key>clear</key>
				<true/>
				<key>clearColor</key>
				<string>0.1 0.1 0.3 1.0</string>
			</dict>
			<key>excludeCategoryMask</key>
			<string>2</string>
			<key>draw</key>
			<string>DRAW_SCENE</string>
			<key>inputs</key>
			<dict/>
			<key>outputs</key>
			<dict>
				<key>color</key>
				<string>icolor</string>
			</dict>
		</dict>
		<key>pass_normal</key>
		<dict>
			<key>draw</key>
			<string>DRAW_NODE</string>
			<key>program</key>
			<string>pass2</string>
			<key>pointOfView</key>
			<string>cam2</string>
			<key>includeCategoryMask</key>
			<string>2</string>
			<key>inputs</key>
			<dict>
				<key>mvp</key>
				<string>mvp-symbol</string>
				<key>u_m</key>
				<string>m-symbol</string>
				<key>u_p</key>
				<string>p-symbol</string>
				<key>a_position</key>
				<string>a_position-symbol</string>
				<key>a_normal</key>
				<string>a_normal-symbol</string>
			</dict>
			<key>outputs</key>
			<dict>
				<key>color</key>
				<string>intermed</string>
			</dict>
		</dict>
		<key>pass_mix</key>
		<dict>
			<key>draw</key>
			<string>DRAW_QUAD</string>
			<key>program</key>
			<string>pass1</string>
			<key>inputs</key>
			<dict>
				<key>a_position</key>
				<string>a_position-symbol</string>
				<key>colorSampler</key>
				<string>icolor</string>
				<key>normalSampler</key>
				<string>intermed</string>
			</dict>
			<key>outputs</key>
			<dict>
				<key>color</key>
				<string>COLOR</string>
			</dict>
		</dict>
	</dict>
	<key>targets</key>
	<dict>
		<key>icolor</key>
		<dict>
			<key>type</key>
			<string>color</string>
		</dict>
		<key>intermed</key>
		<dict>
			<key>type</key>
			<string>color</string>
		</dict>
	</dict>
	<key>symbols</key>
	<dict>
		<key>mvp-symbol</key>
		<dict>
			<key>semantic</key>
			<string>modelViewProjectionTransform</string>
		</dict>
		<key>m-symbol</key>
		<dict>
			<key>semantic</key>
			<string>modelTransform</string>
		</dict>
		<key>p-symbol</key>
		<dict>
			<key>semantic</key>
			<string>projectionTransform</string>
		</dict>
		<key>a_normal-symbol</key>
		<dict>
			<key>semantic</key>
			<string>normal</string>
		</dict>
		<key>a_position-symbol</key>
		<dict>
			<key>semantic</key>
			<string>vertex</string>
		</dict>
	</dict>
</dict>
</plist>
